.card {
    width: 70%;
    margin: auto;
}

.text-align {
    text-align: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    bottom: -100px;
    left: 40%;
}

.card-img-top {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.small-image {
    width: 150px
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .p-absolute {
        position: absolute;
        bottom: -100px;
        left: 32%
    }
}

@media (max-width: 576px) {
    .section-1 {
        height: 70vh;
    }
}

.input-image {
    padding: 5px;
}

.input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: rgb(221, 217, 217);
    border-radius: 18px
}

.input-box {
    margin: auto 0;
    padding: 0 30px
}

.modal-title {
    text-align: center;
}

.input-modal {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 18px
}

.my-form img {
    margin-left: 14px;
}

.input-modal {
    width: 90%;
}

.image-post {
    display: flex;
    align-items: end;
    justify-content: center;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    background-position: cover;
}

.image-text {
    background-color: white;
    color: black;
    overflow: auto;
    text-align: center;
}

.filter-button {
    border: none;
    width: 100px;
}