<main>
  <section class="section-1">
    <div class="container shadow-sm">
      <div class="card p-relative">
        <img src="https://www.altonhotelsf.com/images/1700-960/sf-bridge-19b6ebfa.jpg" class=" " alt="Main-Image">
        <div class="p-absolute text-align">
          <img src="../assets/image.png" class="small-image" alt="small-image">
          <h4>Jerry Luis</h4>
        </div>
      </div>
    </div>
  </section>
  <section id="timeline-section" class="shadow-sm">
    <div class="container">
      <div class="row">
        <hr>
        <div class="col text-align">
          <h3><a href="">Timeline</a></h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="card">
        <div class="row row1">
          <div class="col-md-1">
            <img src="../assets/image.png" class="input-image" alt="image" width="60" height="60">
          </div>
          <div class="col-md-11 input-box">
            <input type="text" class="input" placeholder="what's on your mind?" data-bs-toggle="modal" data-bs-target="#exampleModal">
          </div>
        </div>
      </div>
    </div>
    <!-- modal of input -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <div class=" d-flex">
            <div class="d-flex">
              <img src="../assets/image.png" alt="" width="40" height="40">
              <h5 class="ms-2">Jerry Luis</h5>
            </div>
            <div>
              <input type="file">
            </div>
          </div>
          <div>
            <input type="text" class="input-modal" placeholder="What's on your mind ?">
          </div>
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn w-100 btn-primary">Post</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>