<main>
  <section class="section-1">
    <div class="container shadow-sm">
      <div class="card p-relative">
        <img src="https://www.altonhotelsf.com/images/1700-960/sf-bridge-19b6ebfa.jpg" class=" " alt="Main-Image">
        <div class="p-absolute text-align">
          <img src="../assets/image.png" class="small-image" alt="small-image">
          <h4>Jerry Luis</h4>
        </div>
      </div>
    </div>
  </section>
  <section id="timeline-section" class="shadow-sm">
    <div class="container">
      <div class="row">
        <hr>
        <div class="col text-align">
          <h3>
            <a href="">Timeline</a>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="card mt-4">
        <div class="row row1">
          <div class="col-md-1">
            <img src="../assets/image.png" class="input-image" alt="image" width="60" height="60">
          </div>
          <div class="col-md-11 input-box">
            <input type="text" class="input" placeholder="what's on your mind?" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
          </div>
        </div>
      </div>
    </div>
    <!-- modal of input -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class=" d-flex">
              <div class="d-flex">
                <img src="../assets/image.png" alt="" width="40" height="40">
                <h5 class="ms-2">Jerry Luis</h5>
              </div>
            </div>
            <div>
              <form class="my-form" [formGroup]="formName" (ngSubmit)="postMethod(formName.value)">
                <div class="image-post"
                  [ngStyle]="{ 'background-image': bgImage != '' ? 'url(' + bgImage + ')' : 'url(' + '' + ' )','height.px':200}">
                  <input type="text" class="input-modal " formControlName="post" placeholder="Start Typing ...">
                </div>
                <div>
                  <img src="../assets/left_arrow.png" alt="left arrow">
                  <label for="input-file">
                    <img src="../assets/camera.png" alt=" camera ">
                  </label>
                  <input type="file" id="input-file" style="display:none ;" (change)="fileChange($event)">
                  <img src="../assets/smiley.png" alt="">
                  <img src="../assets/sticker.png" alt="">
                  <img src="../assets/comment.png" alt="">
                  <img src="../assets/friends.png" alt="">
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn w-100 btn-primary">post</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- this is second section -->
  <section class="section2">
    <!-- This is filter box -->
    <div class="container">
      <div class="card mt-4">
        <div class="d-flex justify-content-between p-4">
          <h3>Posts</h3>
          <button class="filter-button" data-bs-toggle="modal" data-bs-target="#filterModal" ><strong> Filters</strong></button>
        </div>
      </div>
      <!-- filter modal -->
      <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Post Filters</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Use filter to find post on your timeline</h5>
                <p class="small-text"><small>This will not affect how others see your timeline</small></p>
                <div>
                  <span>Go to:</span>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Date</button>
                    <form>
                      <input type="date">
                    </form>
                    <!-- <ul class="dropdown-menu">
                      <li>10</li>
                      <li>11</li>
                      <li>12</li>
                    </ul> -->
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card mt-2" *ngFor="let item of items">
        <div class="card-body">
          <div class="row ">
            <div class="d-flex justify-content-between">
              <div class="d-flex ">
                <img src="../assets/image.png" class="input-image" alt="image" width="60" height="60">
                <h3>Jerry Luis</h3>
              </div>
              <div>
                <!-- drop down Svg -->
                <div class="dropdown">
                  <a class="btn btn-secondary " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="w-64 h-64" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    viewBox="0 0 16 16" >
                    <path
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z">
                    </path>
                  </svg>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" (click)="deletePost(item.id)" >Delete</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="getPostDatabyId(item.id)" data-bs-toggle="modal" data-bs-target="#updateModal">Edit</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-post"
          [ngStyle]="{'background-image': 'url(' + 'http://139.59.47.49:4004/' + item.background + ')'}">
          <p class="image-text">{{item.post}}</p>
        </div>
      </div>
    </div>
  </section>
</main>
<!--  Modal for update Post -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=" d-flex">
          <div class="d-flex">
            <img src="../assets/image.png" alt="" width="40" height="40">
            <h5 class="ms-2">Jerry Luis</h5>
          </div>
        </div>
        <div>
          <form class="my-form" [formGroup]="updateForm" (ngSubmit)="updatePost(updateForm.value)">
            <div class="image-post"
              [ngStyle]="{ 'background-image': updateImage != '' ? 'url(' + updateImage + ')' : 'url(' + '' + ' )','height.px':200}">
              <input type="text" class="input-modal " formControlName="post" (change)="updateFile" placeholder="Start Typing ...">
            </div>
            <div>
              <img src="../assets/left_arrow.png" alt="left arrow">
              <label for="input-file">
                <img src="../assets/camera.png" alt=" camera ">
              </label>
              <input type="file" id="input-file" style="display:none ;">
              <img src="../assets/smiley.png" alt="">
              <img src="../assets/sticker.png" alt="">
              <img src="../assets/comment.png" alt="">
              <img src="../assets/friends.png" alt="">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn w-100 btn-primary">Update Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>